/* ==========================================================================
   BASE STYLES
   ========================================================================== */

#favicon {
    height: 20px;
    width: 20px;
}

[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-top: 0px;
    font-size: 40px;
}

small {
    display: block;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
}

p {
    font-family: "Raleway", sans-serif;
    color: #111;
    font-weight: 300;
    max-width: 800px;
    font-size: 17px;
    line-height: 35px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-right: 10px;
}


/* ==========================================================================
   NAVBAR
   ====================================================================== */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    height: 100px;
    background-color: white;
    border: 0;
}

.navbar-nav > li > a {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    height: 100px;
}

.navbar-header img {
    height: 75px;
    width: 75px;
    margin-left: 65px;
}

#hover-turquoise:hover {
    background-color: #19B5A1;
}

#hover-green:hover {
    background-color: #7FBB49;
}

#hover-violet:hover {
    background-color: #B371A2;
}

#hover-cyan:hover {
    background-color: #76C7C3;
}

#hover-yellow:hover {
    background-color: #FFC04C;
}

#hover-blue:hover {
    background-color: #53BFD5;
}

.navbar-inverse .navbar-nav > li > a {
    color: #111;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.navbar-right {
    margin-right: 65px;
}


/* ==========================================================================
   CAROUSSEL
   ====================================================================== */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}


/* ==========================================================================
   INTRO
   ====================================================================== */

.introduction {
    height: 330px;
    background-color: #54C0D6;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/* ==========================================================================
   PLAY
   ====================================================================== */

.play {
    background-color: white;
}

.description-play a {
    cursor: pointer;
    margin-right: 20px;
}

.description-play img {
    height: 40px;
    border-radius: 5px;
}

.description-play a:hover {
    opacity: 0.7;
}

.description-play:first-child {
    margin-top: 150px;
    max-width: 80%;
    margin: 150px auto 0 auto;
}

.img-play img {
    height: 450px;
    width: 300px;
    display: block;
    margin: 100px auto 0px auto;
}

.play2 p {
    color: white;
}

.play2 {
    height: 600px;
    background-image: url(../img/TwoDots_space_bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.play3 {
    height: 600px;
    background-image: url(../img/dotsAndCoBackground.png);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #ACE3D6;
}


/* ==========================================================================
   RESPONSIVE
   ====================================================================== */

@media screen and (max-width: 1024px) {
    .introduction small {
        font-size: 1.8em;
        margin-top: 20px;
    }
    .play2 {
        height: 1100px;
        background-image: url(../img/TwoDots_space_bkgd-small.png);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    .description-play:first-child {
        margin-top: 100px;
        margin: 150px auto 50px 75px;
    }
    
   
    .description-play p {
        width: 100%;
        margin-bottom: 100px;
        font-size: 1.7em;
        line-height: 40px;
    }
    .margin-xs {
        margin-bottom: 100px;
    }
    .description-play img {
        height: 50px;
        border-radius: 5px;
    }
    .play3 {
        height: 1350px;
        background-image: url(../img/homepage-dots-and-co-background-small.png);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #ACE3D6;
    }
    .img-play {
        background-color: #4ACD67;
        margin-top: 0px;
    }
    .img-play img {
        height: 550px;
        width: 350px;
    }
     .description-play2:first-child {
        max-width: 100%;
        margin: 475px auto 0 75px;
    }
}
